<!DOCTYPE html>
<html>
<head>
	<audio src="" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/door2.css' rel='stylesheet' type='text/css'>
	<title>Door 2 - Choice 1</title>
</head>
<body>
<pre>
	You see a man-like figure covered in red scales 
	and with wings on the floor almost lifeless. 
</pre>
<p>
		<ol>
			<a href="http://localhost:4567/take_over"><li>Approach him and see if there is anything you can do for him.</li></a>
			<a href="http://localhost:4567/dragon_attack_ending"><li>You notice he has a pouch so sneak and try to steal it from him</li></a>
			<a href="http://localhost:4567/dragon_moon"><li>Scream and shout and turn around and run to the door to try and leave</li></a>
		</ol>
	</p>
</body>
</html>

	