<!DOCTYPE html>
<html>
<head>
	<audio src="npc_dragon_flightroarobstructed_02.wav" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/dragon_companion.css' rel='stylesheet' type='text/css'>
	<title>Dragon Companion</title>
</head>
<body>
	<pre>You and the dragon bond and you become a Dragon Master! 
Congratulations! You are now partners with your dragon.
 What do you wish to do?</pre>
	<p>
		<ol>
			<a href="/take_over"><li>TAKE OVER THE WORLD</li></a>
			<a href="/train_dragon1"><li>TRAIN WITH YOUR DRAGON</li></a>
			<a href="/dragon_moon"><li>FLY TO THE DESERTED SURFACE OF THE MOON</li></a>
		</ol>
	</p>
</body>
</html>