<!DOCTYPE html>
<html>
<head>
	<audio src="npc_dragon_flightroarobstructed_01.wav" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/dragon_den.css' rel='stylesheet' type='text/css'>
	<title>Awakened Ending</title>
</head>
<body>
	<pre>You are currently at the den. What would you like to do?</pre>
	<p> 
	<ol>
		<a href="/military_strength"><li>TRAIN MILITARY STRENGTH</li></a>
		<a href="/feed_dragon"><li>FEED YOUR DRAGON</li></a>
		<a href="/search_cave"><li>SEARCH THROUGH THE CAVE</li></a>
	</ol>
	</p>
</body>
</html>