<!DOCTYPE html>
<html>
<head>
	<audio src="roar.wav" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/hybrid_path3.css' rel='stylesheet' type='text/css'>
	<title>Hybrid Path 3</title>
</head>
<body>
<pre>
	As you tackle him to the ground you realize he is also a hybrid.
	He is your pure opposite.
	You control Lightning, while he controls Fire.
	You two are evenly matched as the fight goes on you. 
	You soon realize, 
	There is more to you both than you had assumed.
	You guys fight..
</pre>
	<a href="/hybrid_fight_demo_ending" type="button">
	<button>
	</br>
		<span class="proceed">
			Continue
		</span>
	</button>
	</a>
	<script type="text/javascript">
	jQuery(window).unload(function() {
        var yes = confirm("are you sure?");
        if (yes) {
            return true;
        } else {
            return false;   
        }
    });
	</script>
</body>
</html>