<!DOCTYPE html>
<html>
<head>
	The Rocket Summer - Break It Out<br><embed type="application/x-shockwave-flash" src="http://www.4shared.com/flash/player.swf?ver=9051" style="" preload="auto" id="ply" name="ply" quality="high" allowscriptaccess="always" allowfullscreen="false" wmode="opaque" flashvars="file=http://dc123.4shared.com/img/405719541/93fcbf40/dlink__2Fdownload_2F1GOBxd0V_3Ftsid_3D00000000-000000-00000000/preview.mp3&amp;volume=50&amp;" height="20" width="200"><br><a href="http://mp3skull.com/"></a><script type="text/javascript" src="http://mp3skull.com/embedcl.php"></script>
	<video src="Final Fight.mp4" preload= "auto" allowfullscreen="true" autoplay></video>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/hybrid_path3.css' rel='stylesheet' type='text/css'>
	<title>Hybrid Path Ending Fight</title>
</head>
<body>
</body>
</html>