<!DOCTYPE html>
<html>
<head>
	<audio src="What Have You Done.mp3" preload="auto" autoplay loop></audio>
	<video src="Final Fight.mp4" preload= "auto" allowfullscreen="true" autoplay></video>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/hybrid_path3.css' rel='stylesheet' type='text/css'>
	<title>Hybrid Path Ending Fight</title>
</head>
<body>
</body>
</html>