<!DOCTYPE html>
<html>
<head>
	<audio src="thunder_strike.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/hybrid_path.css' rel='stylesheet' type='text/css'>
	<title>Hybrid Path 1</title>
</head>
<body>
<pre>
	He holds your hands and looks you in your soul.
	He inches forward to whisper in your ear, "Use it wisely".
	You then feel pure raw power running through your veins
	You pass out.
	You awake to the sound of screaming.
	Do you...
</pre>
<p>
		<ol>
			<a href="http://localhost:4567/injured_man"><li>Press the snooze button and go back to sleep.</li></a>
			<a href="http://localhost:4567/thief_path"><li>Jump up and rescue the damsal in distress</li></a>
			<a href="http://localhost:4567/snake_death"><li>Snap your fingers to make ur Savotron 3000 save the girl for you.</li></a>
		</ol>
	</p>
</body>
</html>