<!DOCTYPE html>
<html>
<head>
	<audio src="npc_dragon_flightroarobstructed_02.wav" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/military_strength.css' rel='stylesheet' type='text/css'>
	<title>Military Strength</title>
</head>
<body>
	<pre>Congrats! Your military strength increased. 
Your Dragon learned a new move! 
What would you prefer to do next?</pre>
	<p>
		<ol>
			<a href="/take_over_france"><li>ATTEMPT TO TAKE OVER FRANCE</li></a>
			<a href="/train_dragon3"><li>TRAIN WITH YOUR DRAGON TO LEVEL 3</li></a>
			<a href="/leave_dragon"><li>LEAVE YOUR DRAGON BEHIND</li></a>
		</ol>
	</p>
</body>
</html>