<!DOCTYPE html>
<html>
<head>
	<audio src="npc_dragon_flightroarobstructed_01.wav" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/purchase.css' rel='stylesheet' type='text/css'>
	<title>Final Ending</title>
</head>
<body>
	<p>You have completed the demo version. Congratulations!</p>

	<a href="/" type="button" onclick="JavaScript:alert('You are returning to the beginning')">
	<button>
	</br>
		<span class="restart">
			MAIN MENU
		</span>
	</button>
</body>
</html>