<!DOCTYPE html>
<html>
<head>
	<audio src="Dragon.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/search_cave.css' rel='stylesheet' type='text/css'>
	<title>Awakened Ending</title>
</head>
<body>
	<pre>As you were searching through the cave your flashlight ran out. Bummer!
You are lost and theres no way of getting out.</pre>

	<a href="/dragon_den" type="button">
	<button>
	</br>
		<span class="restart">
			RESTART
		</span>
	</button>
	</a>
	<script type="text/javascript">
	jQuery(window).unload(function() {
        var yes = confirm("are you sure?");
        if (yes) {
            return true;
        } else {
            return false;   
        }
    });
	</script>
</body>
</html>