<!DOCTYPE html>
<html>
<head>
	<audio src="" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/snake_death1.css' rel='stylesheet' type='text/css'>
	<title>Snake Fight Lose</title>
</head>
<body>
<pre>
   Your Fighting and Struggle was FUTILE the snake ate you!
</pre>
<a href="/dark_room" type="button" onclick="JavaScript:alert('You are returning to the beginning')">
	<button>
	</br>
		<span class="restart">
			RESTART
		</span>
	</button>
	</a>
	<script type="text/javascript">
	jQuery(window).unload(function() {
        var yes = confirm("are you sure?");
        if (yes) {
            return true;
        } else {
            return false;   
        }
    });
	</script>
</body>
</html>