<!DOCTYPE html>
<html>
<head>
	<audio src=".mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/snooze_button.css' rel='stylesheet' type='text/css'>
	<title>Hybrid Path 1</title>
</head>
<body>
<pre>You swing your hand and realize there is no alarm clock.
But your super dragon strength caused a large bolder fall
and crush you.
Being Lazy Kills.
</pre>
	<a href="/dark_room" type="button">
	<button>
	</br>
		<span class="restart">
			GO BACK
		</span>
	</button>
	</a>
	<script type="text/javascript">
	jQuery(window).unload(function() {
        var yes = confirm("are you sure?");
        if (yes) {
            return true;
        } else {
            return false;   
        }
    });
	</script>
</body>
</html>