<!DOCTYPE html>
<html>
<head>
	<audio src="npc_dragon_flightroarobstructed_01.wav" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/take_over_russia.css' rel='stylesheet' type='text/css'>
	<title>Draco</title>
</head>
<body>
	<pre>Its too quiet. That can only mean one thing. Theres a new Dragon somewhere.
Your enemy Draco. What would you like to do?</pre>
	<p> 
	<ol>
		<a href="/run_away"><li>RUN AWAY</li></a>
		<p></p>
		<a href="/attack_dragon"><li>ATTACK DRACO</li></a>
	</ol>
	</p>
</body>
</html>