<!DOCTYPE html>
<html>
<head>
	<audio src="Dragon.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/take_over.css' rel='stylesheet' type='text/css'>
	<title>Awakened Ending</title>
</head>
<body>
	<pre>You attack Rome and easily take it over, but the rest of the world now knows of your presence. 
You have taken over Rome and now have a basic Spartan Military with swords and spears. 
Level 1 Strength
</pre>
</body>
</html>