<!DOCTYPE html>
<html>
<head>
	<audio src="Dragon.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/train_dragon2.css' rel='stylesheet' type='text/css'>
	<title>Train Your Dragon</title>
</head>
<body>
	<pre>The Dragon doesn't want to train anymore. 
He needs a nap!</pre>

	<a href="/dark_room" type="button">
	<button>
	</br>
		<span class="restart">
			RESTART
		</span>
	</button>
	</a>
	<script type="text/javascript">
	jQuery(window).unload(function() {
        var yes = confirm("are you sure?");
        if (yes) {
            return true;
        } else {
            return false;   
        }
    });
	</script>
</body>
</html>