<!DOCTYPE html>
<html>
<head>
	<audio src="Snoring.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/train_dragon3.css' rel='stylesheet' type='text/css'>
	<title>Stage 2- THE DRAGON</title>
</head>
<body>
	<pre>Congrats! Your Dragon has grown to Level 3. 
What would you like to do next?</pre>
	<p>
		<ol>
			<a href="/take_over_france"><li>ATTEMPT TO TAKE OVER FRANCE</li></a>
			<a href="/dragon_den"><li>GO BACK TO THE DEN</li></a>
		</ol>
	</p>
</body>
</html>