<!DOCTYPE html>
<html>
<head>
	<audio src="Snoring.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/train_dragon.css' rel='stylesheet' type='text/css'>
	<title>Train Your Dragon</title>
</head>
<body>
	<p>You and your Dragon have grown to Level 1. What would you like to do next?</p>
	<p>
		<ol>
			<a href="/take_over"><li>ATTEMPT TO TAKE OVER ROME</li></a>
			<a href="/dragon_attack1"><li>KILL YOUR DRAGON AND TAKE HIS GOODS</li></a>
			<a href="/taunt"><li>TAUNT YOUR DRAGON</li></a>
		</ol>
	</p>
</body>
</html>
