html{
	background-image: url(caveDrag.jpg);
	background-size: 1375px 705px;
}

pre
{
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 10px;
	text-shadow: 2px 3px red;
	font-family: 'Fruktur', cursive;
	color: gray;
}

a{
	font-family: 'Bad Script', cursive;
	text-shadow: 1px 1px gray;
	font-weight: bolder;
	font-size: 25px;
}

a:link{
	color: white;
}

a:visited{
	color: red;
}