pre{
	font-family: 'Bad Script', cursive;
	font-size: 40px;
	font-weight: bolder;
	text-shadow: 2px 1px red;
}

html{
	background-image: url(lightning-bolts-blue-blue.gif);
	background-size: 1500px 800px;
}

a:link{
	color: white;
}

a:visited{
	color: white;
}

a{
	font-family: 'Bad Script', cursive;
	font-size: 25px;
	text-shadow: 1px 1px black;
	font-weight: bolder;
}

a:hover{
	font-size: 30px;
	color: red;
	text-decoration: underline;
}